.hidden { display: none; }

form button {
padding-top:10px;
background-color:transparent;
border:none;
font-size:30px;
float:right;
color:#333333;
}

#feedback { font-size: 0.9em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 200px; }
  #selectable li { margin: 3px; padding: 1px; float: left; width: 50px; height: 50px; font-size: 1em; text-align: center; }

#bin{
	position:absolute;
	bottom:0px;
	width:100%;
	height:5%;
}

#shower {
	width:50px; height:25px; background:#000000; z-index: 15;
}

#bath {
	width:50px; height:25px; background:#000000; z-index: 14;
}


			#user-menu, #user-preferences, #sidebar {
			  border: 1px black solid; }

			#user-menu {
			  width: 200px; }
			  #user-menu #user-preferences, #user-menu #sidebar {
				display: table-cell;
				width: 100%; }
		
#palmscan{height:250px; width:100px; background:#00FF00;}
#panic{height:50px; width:50px; background:#FF0000;}

#controls {
				width: 400px; }
			#controls .column, #controls #hide, #controls .slider, #controls #drain, #controls #faucets, #controls #d-pad, #controls #up, #controls #left, #controls #right, #controls #down, #controls #bath-toggle, #controls #set-default, #controls #enable-hot {
				
				padding: 1em; }
			#controls .column, #controls #hide,  #controls #drain, #controls #faucets, #controls #d-pad, #controls #up, #controls #left, #controls #right, #controls #down, #controls #bath-toggle, #controls #set-default, #controls #enable-hot {
				border: 1px black solid;
				}
			#controls .column, #controls #faucets {
				position: relative;
				display: table-cell;
				min-width: 33%; }
			#controls #faucets{

				padding-left:25px;
				padding-right:25px;
			}
			#controls .column {
				vertical-align: middle; }
			#controls .column button {
				position: absolute; }
			#controls .column #hide {
				top: 0px;
				left: 0px; 
				width: 25px;
				height: 25px;
				padding-top: 10px;
				padding-bottom: 10px; }
			#controls .column #drain {
				bottom: 0px;
				left: 0px;
				width: 25px;
				height: 25px;
				padding-top: 10px;
				padding-bottom: 10px;  }
			#controls .column #set-default {
				top: 0px;
				right: 0px;
				width: 25px;
				height: 25px;
				padding-top: 10px;
				padding-bottom: 10px; }
			#controls .column #enable-hot {
				bottom: 0px;
				right: 0px;
				width: 25px;
				height: 25px;
				padding-top: 10px;
				padding-bottom: 10px; }
			#controls .column .slider {
				position: relative; 
				
						}

			#d-pad {
				text-align: center;
				padding-left: 0px;
				padding-right: 0px; }
				#d-pad #up, #d-pad #down {
					width: 25px;
					height: 25px;
					display: block;
					margin: 0.5em auto; }
				#d-pad #left, #d-pad #right {
					width: 25px;
				height: 25px;
					display: inline-block; }
